NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://localhost:27017/logichain?replicaSet=rs0
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
CORS_ORIGIN=*
